<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <form th:action="@{/clientes/crear}" th:object="${cliente}" method="post" class="border p-4 rounded shadow">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3" th:text="#{crear_cliente}"></h1>
            <!-- Button de guardar -->
            <button class="btn btn-primary" type="submit" th:text="#{guardar}+':'"></button>
        </div>

        <!-- Campo Nombre -->
        <div >
            <label for="nombre" class="form-label mt-2" th:text="#{nombre}+':'"></label>
            <input type="text" id="nombre" th:field="*{nombre}" class="form-control" required />
        </div>

        <!-- Campo Apellido1 -->
        <div class="mb-3">
            <label for="apellido1" class="form-label" th:text="#{apellido1}+':'"></label>
            <input type="text" id="apellido1" th:field="*{apellido1}" class="form-control" required />
        </div>

        <!-- Campo Apellido2 -->
        <div class="mb-3">
            <label for="apellido2" class="form-label" th:text="#{apellido2}+':'"></label>
            <input type="text" id="apellido2" th:field="*{apellido2}" class="form-control" required />
        </div>

        <!-- Campo ciudad -->
        <div class="mb-3">
            <label for="ciudad" class="form-label" th:text="#{ciudad}+':'"></label>
            <input type="text" id="ciudad" th:field="*{ciudad}" class="form-control" required />
        </div>

        <!-- Campo categoria -->
        <div class="mb-3">
            <label for="categoria" class="form-label" th:text="#{categoria}+':'"></label>
            <input type="text" id="categoria" th:field="*{categoria}" class="form-control" required />
        </div>

    </form>
</div>
</body>
</html>