<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Comercial</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <form th:action="@{/comerciales/crear}" th:object="${comercial}" method="post" class="border p-4 rounded shadow">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3">Crear Comercial</h1>
            <!-- Button de guardar -->
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>

        <!-- Campo Nombre -->
        <div class="mb-3">
            <label for="nombre" class="form-label mt-2">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" class="form-control" required />
        </div>

        <!-- Campo Apellido1 -->
        <div class="mb-3">
            <label for="apellido1" class="form-label">Primer Apellido:</label>
            <input type="text" id="apellido1" th:field="*{apellido1}" class="form-control" required />
        </div>

        <!-- Campo Apellido2 -->
        <div class="mb-3">
            <label for="apellido2" class="form-label">Segundo Apellido:</label>
            <input type="text" id="apellido2" th:field="*{apellido2}" class="form-control" required />
        </div>

        <!-- Campo comision -->
        <div class="mb-3">
            <label for="comisión" class="form-label">Comisión:</label>
            <input type="text" id="comisión" th:field="*{comision}" class="form-control" required />
        </div>

    </form>
</div>
</body>
</html>